#heading2, #overall{
    font-family: "Cedarville Cursive",cursive;
    color:black;
}
#subtitle{
    font-family: "Cedarville Cursive", cursive;
    color: black;
    text-align: center;
    padding-top:0px;

}

#sun{
    width:100%;
    height:auto;
}

#heading3{
    font-size:80px;
    text-align:center;
    margin-top:50px;
    margin-bottom:100px;
    font-family: "Cedarville Cursive",cursive;
    color:black;
}
#heading2{
    font-size:100px;
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}
#overall{
    width:30%;
    margin:auto;
    font-size:50px;
    text-align:center;

}
#otherscores{
    margin-top:100px;
}
.subjects{
    margin-bottom:30px;
    text-align:center;
}
.subjectscore{
    padding-left:30%;
}
#overallcontainer{
    border-left: 10px double black; 
    border-right: 10px double black;
}
#sword{
    width:100%;
    height:100%;
    margin-top:15%;

}
#oldduck{
    width:80%;
    height:auto;
    margin:auto;
    
}
#oldduckss{
    text-align:center;
    margin-top:10%;
    font-family: "Cedarville Cursive",cursive;

}
#backbutton{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;


}
#duckss{
    margin-top:5%;
    color:black;
}
.subjecttitle{
    font-size:80px;
}
.subjectquote{
    font-size:40px;
}
.brother{
    width:100%;
    height:auto;
    padding-top:30%;
    padding-bottom:0%;
}
.brotherdiv{
    width:20%;
    margin:auto;
}
.subjectlink{
    text-decoration: none;
    color:black;

}

#copyright{
    color:white;
    text-align:center;
    margin:0px;
    padding-top:50px;
    padding-bottom:100px;
}
#title{
    color:black;
    text-align:right;
    font-size:80px;
    font-family: "Cedarville Cursive", cursive;
    padding-top:150px;
    padding-bottom:0px;
    padding-right:10%;
}

#topcontainer{
    background-image:url('images/tree1.png');
    background-size:auto 100%;
    background-color:white;
    padding-top:150px;
    padding-bottom:150px;
    background-repeat:no-repeat;
}
#buildings{
    background-image:url('images/building.jpg');
    background-size:auto 100%;

}
@media only screen and (max-width: 850px){
    #title{
        display:none;
    }

}
@media only screen and (max-width: 992px){
    #ssduck{
        width:100%;
    }

}


