<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href = "static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div id = 'topcontainer'>
        <div class="container">
            <h1 id = "title" class = "align-bottom">ACADEC <br>Rankings</h1></div>
            
    </div>
    <div style="background-color:black">
        <br><br><br>
    </div>
    <div id = "buildings">
        <br><br><br><br><br><br><br><br><br><br>

    </div>
    <div class="container">
        <h2 id = "heading2">
            Overall Score
        </h2>
        <div id = "overallcontainer">
            <ol id = "overall" style = "font-size:3vw;">
                <li>Clarissa : 4000</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
                <li>Name</li>
            </ol>
        </div>
    </div>
    <h1 style = "font-family: 'Cedarville Cursive',cursive; text-align:center; font-size:100px; margin-top:15%; color:black">Subjects</h1>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/social_science.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Social Science</h1>
                <p class = "subjectquote">The art of remembering</p>
                <a href="#" class="subjectlink">SS Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/spider.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Science</h1>
                <p class = "subjectquote">The art of discovering</p>
                <a href="#" class="subjectlink">Science Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/art.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Art</h1>
                <p class = "subjectquote">The art of arting</p>
                <a href="#" class="subjectlink">Art Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/music.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Music</h1>
                <p class = "subjectquote">The art of musicking</p>
                <a href="#" class="subjectlink">Music Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/lit.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Literature</h1>
                <p class = "subjectquote">The art of reading</p>
                <a href="#" class="subjectlink">Lit Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/the_reaper.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Economics</h1>
                <p class = "subjectquote">The art of money</p>
                <a href="#" class="subjectlink">Econ Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div class = "container" id = "oldduckss">
        <div class="row">
            <div class="col-12 col-sm-7" id = "ssduck">
                <img id = "oldduck" src="static/images/triangle.png" alt="oldduck">
            </div>
            <div class= "col" id = "duckss">
                <h1 class="subjecttitle">Math</h1>
                <p class = "subjectquote">The art of mathing</p>
                <a href="#" class="subjectlink">Math Rankings</a>
            </div>
        </div>
    </div>
    <div class="brotherdiv">
        <img class ="brother" src="static/images/border.png" alt="border">

    </div>
    <div>
        <img id ="sword" src="static/images/sword.png" alt="coolsword">
    </div>
    <div style="background-color:black;">
        <br><br><br><br><br><br><br>

    </div>
    <script src ="static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>