<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #subjectrow{
            font-family:'Cedarville Cursive',cursive; 
            text-align:center;
            color:black;
        }
        #col{
            padding:3%;
            border-right:double 3px black;
            font-size:x-large;
        }
        a{
            color:black;
            text-decoration:none;
        }
    </style>
<body>
    <div class="container">
        <div class="row" id="subjectrow">
            <div class="col" id = "col" style="border-left:double 3px black;">
                <a href="/subjects/lit">LIT</a>
            </div>
            <div class="col" id = "col">
                <a href="/subjects/art">Art</a>
            </div>
            <div class="col" id = "col">
                <a href="/subjects/music">Music</a>
            </div>
            <div class="col" id = "col">
                <a href="/subjects/econ">Economics</a>
            </div>
            <div class="col"id = "col">
                <a href="/subjects/science">Science</a>
            </div>
            <div class="col" id = "col">
                <a href="/subjects/ss">Social Science</a>
            </div>
            <div class="col" id = "col">
                <a href="/subjects/math">Math</a>
            </div>
        </div>
    </div>
    
</body>
<script src ="static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>