{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject Score</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png'%}" />
    <link rel="stylesheet" href = "{% static 'styles.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class ="subtitle top">
        <img class = "sun"src="{% static 'images/river.png' %}" alt="sun">
    </div>

    <div class= "container">
        <h2 id = "heading3" class = 'in'>{{student.full_name}}</h2>
        <div id = "overallcontainer">
            <ul id = "overall" style ="list-style-position:inside;list-style-type: none; padding-left:0;">
                <li>{{status}}</li>
                <li class="overname bottom" data-name = "Overall" data-counter="0" data-overall="{{student.overall}}"></li>
                <li class="overname bottom" data-name = "SS" data-counter="0" data-overall="{{student.ss}}"></li>
                <li class="overname bottom" data-name = "Science" data-counter="0" data-overall="{{student.science}}"></li>
                <li class="overname bottom" data-name = "Math" data-counter="0" data-overall="{{student.math}}"></li>
                <li class="overname bottom" data-name = "Econ" data-counter="0" data-overall="{{student.econ}}"></li>
                <li class="overname bottom" data-name = "Lit" data-counter="0" data-overall="{{student.lit}}"></li>
                <li class="overname bottom" data-name = "Art" data-counter="0" data-overall="{{student.art}}"></li>
                <li class="overname bottom" data-name = "Music" data-counter="0" data-overall="{{student.music}}"></li>
        </ul>
        </div>
    </div>
    
    <a href="{% url 'home' %}">
        <img src="{% static 'images/backbutton.png' %}" class = "backbutton in" alt="backbutton">
        </a>
        <div class="container bottom" style="margin-top:10%;">
            <div class="row" id="subjectrow">
                {% for i in allstudents %}
                <div class="col" id = "col" >
                    <a class = 'profilelinker bottom' href="/profiles/{{i.name}}">{{i.name}}</a>
                </div>
                {%endfor%}
            </div>
        </div>
    <div style=" margin-bottom:0px;">
        <img class = 'bottom'id ="sword" src="{% static 'images/smoke.png' %}" alt="coolsword">
    </div>
    <script>
    </script>
    <script src ="{%static 'script.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>